@page
@model ps.Pages_Vendas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Vendas</h1>

<h4>Cadastrar Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Venda.IdCliente" class="control-label"></label>
                <input asp-for="Venda.IdCliente" class="form-control" />
                <span asp-validation-for="Venda.IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venda.IdProduto" class="control-label"></label>
                <input asp-for="Venda.IdProduto" class="form-control" />
                <span asp-validation-for="Venda.IdProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venda.QtdVenda" class="control-label"></label>
                <input asp-for="Venda.QtdVenda" class="form-control" />
                <span asp-validation-for="Venda.QtdVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venda.VlrUnitarioVenda" class="control-label"></label>
                <input asp-for="Venda.VlrUnitarioVenda" class="form-control" />
                <span asp-validation-for="Venda.VlrUnitarioVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venda.DthVenda" class="control-label"></label>
                <input asp-for="Venda.DthVenda" class="form-control" />
                <span asp-validation-for="Venda.DthVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button type="button" onclick="window.location.href = '@Url.Page("Index")'" class="btn btn-warning mt-3">Retornar</button>
</div>

